.grid_container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "city hourly_forecast"
    "weather hourly_forecast"
    "daily hourly_forecast";

  column-gap: 1rem;

  margin-top: 2rem;

  place-content: center;
  padding-inline: 0.5rem;
}

.city_details {
  grid-area: city;
  min-height: 270px;
  border: none;
  border-radius: 1rem;
  overflow: hidden;
  background-color: hsl(248, 70%, 36%);

  background-image: url("../assets/images/bg-today-large.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
  font-family: "DM Sans", sans-serif;;
}
.hourly_forecast {
  grid-area: hourly_forecast;
  background-color: hsl(242.22deg 26.73% 19.8%);
  border-radius: 1rem;
  padding: 1.5rem;
  
}
.weather_cards {
  grid-area: weather;
  padding-block: 1rem;
  gap: 1.5rem;

  display: flex;
  justify-content: space-between;
}
.daily_forecast {
  grid-area: daily;
  margin-top: 2rem;
}

.temperature_info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.temperature_info img {
  display: inline;
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.city_info h3 {
  font-weight: 700;
  font-size: 1.2rem;
}

.city_details p {
    font-size: 0.8rem;
  opacity: 0.7;
}

em {
  font-size: 5rem;
  font-weight: 500;
  line-height: 1.5;
}

.weather__card{
    background-color: hsl(242.22deg 26.73% 19.8%);
    flex-basis: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    font-family: "DM Sans", sans-serif;
}

.weather__card h4{
    font-size: 0.8rem;
    font-weight: 400;
}

.weather__card p{
    margin-top: 0.8rem;
    font-size: 1.3rem;
}

.forecast__card img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.daily_forecast h3{
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.forecast_cards{
    display: flex;
    justify-content: space-between;
    
    gap: 1rem;
}

.forecast__card{
    background-color: hsl(242.22deg 26.73% 19.8%);
    flex-basis: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    font-family: "DM Sans", sans-serif;

        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem   ;
}

.degrees{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    
}

.hourly_heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.placeholder{
    display: flex;
    gap:0.5rem;
    background-color: hsla(240, 6%, 70%, 0.21);
    padding: 8px 16px;
    border-radius: 0.5rem;
    font-weight: 400    ;
}

.hourly_container{
    display: flex;
    flex-direction: column;
    height: 100%;
     gap: 1rem;
     
}
.hourly_cards{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: .5rem .75rem;
      background-color: hsla(240, 6%, 70%, 0.21);
      border-radius: 0.5rem;
     
  
    
}

.omo{
  display: flex;
  align-items: center;
}


.hourly_cards img{
     width: 40px;
     height: 40px;
     margin-right: 1rem;
}

