.units_container {
  position: relative;
}

body {
  font-family: "Bricolage Grotesque", sans-serif;
  background-color: #03012d;
  color: #fff;
}


.unit_button {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  cursor: pointer;
  border: 2px solid #fff;
  padding: 10px 20px;
  border-radius:0.5rem;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #03012d;

}

.unit_button:hover {
  background-color: hsla(0, 0%, 100%, 0.21);
}

.units_dropdown {
  display: none !important;
  position: absolute;
  align-items: flex-start;
  border-radius: 10px;
  z-index: 100;  
  margin-top: 0.2rem;
  background-color: hsl(242.22deg 26.73% 19.8%);
  width: 13rem;
  border: 1px solid hsl(241.71deg 22.88% 30%);
  right: 0;
}

.flex {
  display: flex;
  flex-direction: column;
}

.switch_units {
  margin: 0.3rem;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  padding-block: 10px;
 width: 95%;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  background-color:hsla(0, 0%, 100%, 0.21); 
  box-shadow: inset 0 0 0 1px #03012d;
  text-align: left;
  padding-inline-start: 0.3rem;
}

hr {
  width: 90%;
  border: none;
  height: 1px;
  background-color: hsla(0, 0%, 100%, 0.21);
  margin: 0.3rem;
}

.dropdown_section{
  box-sizing: border-box;
  padding-inline: 0.5em;
  width: 100%;
}

.dropdown_label{
  font-size: 0.7rem;
  
  padding-inline-start: 0.2rem;
  padding-bottom: 0.5em;
  font-weight: 400;
  opacity: 0.7;
}


.dropdown_option{
  padding-inline: 0.2rem;
  margin-bottom: 0.3rem;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  border: none;
padding-block: 6px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  text-align: left;
  font-weight: 400;
  font-size: 0.8rem;
}

.active_option{
  display: flex;
  justify-content: space-between;
  background-color:hsla(0, 0%, 100%, 0.21); 
 
}

.active_option>span>img{
  display: inline;
}