.search_bar{
   display: flex;
   justify-content: center;
   gap: 0.5rem;
   width: 100%;
   margin-top: 2rem;
}

.input_wrapper{
width: 100%;
 max-width: 35rem;
 position: relative;
}
  
.search_suggestion {
   position: absolute;   /* child */
  top: 100%;            /* directly below the input */
  left: 0;
  margin-top: 0.2rem;
  background-color:hsl(243, 23%, 30%);
  width: 100%;
  border-radius: 0.3rem;
  padding: 1rem;
  z-index: 10;

  visibility: collapse;
}
.search_suggestion.visible {
  visibility: visible;
}

.input_wrapper input {
  width: 100%;
 
  border-radius: 0.3rem;
  border: none;
  color: #fff;
  padding-left: 2.5rem;
  padding-block: 0.5rem;
  font-size: 1rem;
  cursor: text;

  background-color: hsl(243, 23%, 30%);
  background-image: url('../assets/images/icon-search.svg');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 18px;
}

.search_bar input::placeholder{
  color: hsla(0, 0%, 100%, 0.7);
}

.search_bar input:focus{
    border: 1px solid transparent;
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.search_button{
  border: none;
  background-color:  hsl(233, 67%, 56%);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.search_button:hover{
  background-color: hsla(233, 67%, 56%, 0.7);
  cursor: pointer;
}

